.map-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

::ng-deep .dark-osm-map {
  filter: grayscale(90%) invert(100%) hue-rotate(180deg);
}

@media screen and (max-width: 720px) {
  ::ng-deep .ol-zoom {
    transform: scale(0.75);
  }
}
