.toolbar-container {
  position: absolute;
  /*width: 15%;*/
  min-width: 22em;
  left: 4em;
  top: 0.5em;
  border-radius: 30px;
  background-color: rgb(67, 67, 110, 0.65);
  color: white;
}

label {
  vertical-align: middle;
}

/*Opacity Slider styles*/
mat-slider {
  margin-left: 1.2em;
  margin-right: 1.2em;
  --mdc-slider-inactive-track-height: 0px;
  --mdc-slider-active-track-height: 20px;
  --mdc-slider-active-track-shape: 10px;
  --mdc-slider-handle-height: 30px;
  --mdc-slider-handle-width: 30px;
}

::ng-deep mat-slider .mdc-slider__track--active {
  border: 1px solid white;
}

::ng-deep mat-slider .mdc-slider__thumb .mdc-slider__thumb-knob {
  border: 1px solid white !important;
}

/*Interpolation checkbox styles*/

mat-checkbox {
  margin-left: 0.5em;
}

::ng-deep mat-checkbox .mdc-checkbox__background {
  border: 1px solid white !important;
}
