<div class="toolbar-container">
  <mat-slider id="opacity" color="accent" min="0" max="1" step="0.05">
    <input matSliderThumb value="{{imageLayerService.opacity}}" (dragEnd)="applyOpacity($event)" (input)="formatLabel()">
  </mat-slider>
  <label for="opacity">Opacity</label>
  <mat-checkbox id="interpolate" (change)="applyInterpolation($event.checked)"></mat-checkbox>
  <label for="interpolate">Interpolate</label>
  <mat-checkbox id="darkMode" (change)="setDarkMode($event.checked)"></mat-checkbox>
  <label for="darkMode">Dark Mode</label>
</div>
