<table class="console-table">
  <ng-container *ngIf="isConsoleOpen; else consoleControl">
    <thead class="console-table-header">
      <tr>
        <td>
          Recently loaded {{getLayers().length}} layers:
        </td>
        <td class="arrows" (click)="openConsole()">«</td>
      </tr>
    </thead>
    <tbody #logRecords>
      <ng-container *ngIf="getLayers().length > 0; else nothingLoading">
        <tr *ngFor="let el of getLayers()" class="loading-layer-row">
          <td>{{el.key}}</td>
          <td>
            <ng-container *ngIf="el.loaded; else spinner">
              <ng-container *ngIf="!el.error; else errorTemplate">
                <ng-container *ngTemplateOutlet="loadingTime; context: { $implicit: el }"></ng-container>
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot class="console-table-header">
      <tr>
        <td class="console-footer-control">+</td>
        <td class="console-footer-control">-</td>
        <td class="console-footer-control">cop</td>
        <td class="console-footer-control">clear</td>
      </tr>
    </tfoot>
  </ng-container>
</table>

<ng-template #consoleControl>
  <tbody>
    <tr class="console-control">
      <td>Stats</td>
      <td class="arrows" (click)="openConsole()">»</td>
    </tr>
  </tbody>
</ng-template>

<ng-template #spinner>
  <div class="spinner-container">
    <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="grey"
         style="width: 10px ; height: 10px">
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="3">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 18 18"
              to="360 18 18"
              dur="0.8s"
              repeatCount="indefinite"/>
          </path>
        </g>
      </g>
    </svg>
  </div>
</ng-template>

<ng-template #loadingTime let-el>
    {{ el.timeMs }} ms
</ng-template>

<ng-template #nothingLoading>
  <span>no recent events here</span>
</ng-template>

<ng-template #errorTemplate>
  <span style="color: red">error</span>
</ng-template>
