.console-table {
  display: flex;
  flex-direction: column;
  position: fixed;
  min-width: 20em;
  left: 0.5em;
  bottom: 3em;
  color: grey;
  font-size: 9px;
}

tbody {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 10em;
}

.loading-layer-row {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 0.2em;
}

.arrows {
  transform: rotate(-90deg);
  font-size: 15px;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .console-table {
    transform: scale(0.75);
    left: -3em;
    bottom: 2em;
  }
  .console-control {
    /*this fixes worn stats position*/
    margin-left: 2em;
    margin-bottom: 1em;
  }
}
