<h1 mat-dialog-title>About.</h1>
<mat-dialog-content>
      <span> Hello and welcome to population density map!</span>
      <span><br></span>
      <span>Global Human Settlement Layer, or Population Density data comes originally from <a href="https://human-settlement.emergency.copernicus.eu/">human-settlement.emergency.copernicus.eu</a><br></span>
      <span>Resolutions:</span>
      <ol>
        <li> 3ss files originate from the original images with a resolution of 3 arcseconds, with dimensions 12000x12000 pixels. Each of these images is divided into 16 smaller images, each sized 3000x3000 pixels (arranged in a 4x4 grid). This process reduces a single PNG image, typically around 70MB in size, into 16 smaller images, each with a maximum size of around 5MB.</li>
        <li> 30ss files, on the other hand, are derived directly from the original images with a resolution of 30 arcseconds, with dimensions 1200x1200 pixels. These files undergo no transformation except for adjustments to the color scheme and conversion from TIFF to PNG format.</li>
        <li> 90ss files, they are created by combining and compressing 30ss files. Specifically, nine 30ss files arranged in a 3x3 grid are merged and compressed into a single 90ss file, maintaining a resolution of 1200x1200 pixels.</li>
      </ol>
      <span> And of course these things are undone, but general concepts works and the application can be developed and tested further!<br></span>
      <span><br></span>
      <span>Georgy Saukov, 2024.<br></span>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok</button>
</mat-dialog-actions>
