<h1 mat-dialog-title style="color: white">About this map.</h1>
<mat-dialog-content>
  <span> Hello and welcome to 2025 population density map!</span>
  <span><br></span>
  <span>This Global Human Settlement Layer or Population Density Map is build using data from European Union's Copernicus Project
        <a class="dark-link" target="_blank" href="https://human-settlement.emergency.copernicus.eu/">human-settlement.emergency.copernicus.eu</a>
        and represent global human density layer for year 2025.<br>
      </span>
  <span><br></span>
  <span>Depending on a zoom level population density map use 3 different by size kind of blocks:</span>
  <ul>
    <li>3ss 10000m<sup>2</sup> - 100x100 meters rectangle. On this level you can examine population density of a street or even house level.</li>
    <li>30ss 1km<sup>2</sup> - 1x1 kilometer rectangle. This level best represent regional or urban population density.</li>
    <li>90ss 9km<sup>2</sup> - 3x3 kilometers rectangle. On this zoom level you global human presence on a scale of a country, continent or even whole world! Try it in dark mode!</li>
  </ul>
  <span><br></span>
  <span>Depending on population density blocks change their color:</span>
  <ul>
    <li class="color-box-container">It starts transparent light green <div class="color-box" style="background-color:white;"><div class="color-box" style="background-color:#00ff0035; margin: 0"></div></div> that just indicate some human presence on the surface to white <div class="color-box" style="background-color:#f4fbf2"></div> and light blue <div class="color-box" style="background-color:#d9f2e5"></div> color of rural areas, city outskirts and small towns.</li>
    <li class="color-box-container">The next are blue <div class="color-box" style="background-color:#428acb"></div> and violet <div class="color-box" style="background-color:#521f8b"></div> blocks that show moderate urban density with 5 to 10 thousands inhabitants per square kilometer.</li>
    <li class="color-box-container">Red <div class="color-box" style="background-color:#ff0000"></div> usually covers city centers and residential districts with high rise buildings or places with high-density housing.</li>
    <li class="color-box-container">And finally yellow <div class="color-box" style="background-color:#ffc300"></div> with fantastic level of human presence! Above 200 hundred thousands residents per square kilometer!</li>
  </ul>
  <span><br></span>
  <span>Map offers you following controls:</span>
  <ul>
    <li>Opacity - Adds transparency to population density layer so you can view map alone to find building, street or city.</li>
    <li>Interpolation - Smooths borders between blocks for harmonized map perception.</li>
    <li>Dark mode - This is my favorite mode! It emphasizes light green and white blocks revealing every place of human
      presence on the map. But its best feature is ability to draw incredibly beautiful map when at a scale of continent
      or whole world!
    </li>
  </ul>
  <span><br></span>
  <span>For any questions related to dataset figures please refer to original
    <a class="dark-link" target="_blank" href="https://human-settlement.emergency.copernicus.eu/download.php?ds=pop">GHSL source</a>
    that has clear explanation of data gathering process, calculation methods and analysis techniques per different world region or a country.</span>
  <span><br></span>
  <span>Please note that if you sum up all the blocks of the map total value would be 8588399283 earth inhabitants.</span>
  <span><br></span>
  <span><br></span>
  <span>Enjoy!<br></span>
  <span>Georgy Saukov, 2024.<br></span>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: flex-end; right: 1em;">
  <button mat-button (click)="onOkClick()" style="background: rgba(255,255,255,0.25); color: white; border-radius: 20px;">OK</button>
</mat-dialog-actions>
