.legend-container {
  position: absolute;
  left: 0;
  top: 4.5em;
  overflow: visible;
  background-color: transparent;
}

.legend-control {
  margin-left: 0.5em;
  background-color: rgb(67, 67, 110, 0.65);
  border-radius: 20px;
}

.legend-control-closed {
  margin-left: 0.7em;
  background-color: rgb(67, 67, 110, 0.65);
  border-radius: 20px;
  width: 2.5em;
  .mdc-button {
    left: 0.65em;
    min-width: 2em;
  }
}

::ng-deep .mat-drawer-inner-container {
  overflow: visible !important;
}

::ng-deep .mat-mdc-button-touch-target {
  display: none !important;
}

::ng-deep.mdc-button__ripple {
  display: none !important;
}

.legend-content {
  position: absolute;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: visible;
  background-color: transparent;
  border: none;
}

.mdc-button, .mat-mdc-button {
  color: white !important;
  font-size: 12px;
  border-radius: 20px;
}

.legend-table {
  margin-left: 0.5em;
  border: 2px solid;
  border-radius: 5px;
  border-color: rgb(67, 67, 110, 0.65);
  border-spacing:0; /* Removes the cell spacing via CSS */
}

.legend-table-header {
  background-color: rgb(67, 67, 110, 0.65);
}

td {
  font-size: 15px;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

@media screen and (max-width: 720px) {
  .legend-container {
    transform: scale(0.7);
    top: 4em;
    left: -0.7em;
  }

  .legend-content {
    left: -0.5em;
  }

}


