<mat-drawer-container class="legend-container" autosize>
  <mat-drawer #drawer class="legend-content" mode="side">
    <table class="legend-table">
      <thead class="legend-table-header">
        <tr>
          <td>
            Population density <br>
            per {{getAreaResolution()}}<sup>2</sup>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr><td [ngStyle]="{'background-color':'#00ff0035', 'opacity':imageLayerService.opacity}">{{getPopulationDensity('1-10')}}</td></tr>       <!-- val: 0.01 color: transparent value: 1-10-->
        <tr><td [ngStyle]="{'background-color':'#f4fbf2',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('10-49')}}</td></tr>        <!-- val: 0.1 color: #f4fbf2 value: 10-49-->
        <tr><td [ngStyle]="{'background-color':'#f4fbf2',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('50-129')}}</td></tr>       <!-- val: 1.0 color: #f4fbf2 value: 50-129-->
        <tr><td [ngStyle]="{'background-color':'#d9f2e5',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('130-399')}}</td></tr>      <!-- val: 2.0 color: #d9f2e5 value: 130-399-->
        <tr><td [ngStyle]="{'background-color':'#a8e3e5',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('400-1k')}}</td></tr>       <!-- val: 6.0 color: #a8e3e5 value: 400-1k-->
        <tr><td [ngStyle]="{'background-color':'#71c7d7',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('1k-2k')}}</td></tr>        <!-- val: 15.0 color: #71c7d7 value: 1k-2k-->
        <tr><td [ngStyle]="{'background-color':'#428acb',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('2k-3.5k')}}</td></tr>      <!-- val: 27.0 color: #428acb value: 2k-3.5k-->
        <tr><td [ngStyle]="{'background-color':'#2d6bb3',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('3.5k-5.5k')}}</td></tr>    <!-- val: 42.0 color: #2d6bb3 value: 3.5k-5.5k-->
        <tr><td [ngStyle]="{'background-color':'#0c4c9f',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('5.5k-7.5k')}}</td></tr>    <!-- val: 62.0 color: #0c4c9f value: 5.5k-7.5k-->
        <tr><td [ngStyle]="{'background-color':'#00309f',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('7.5k-10k')}}</td></tr>     <!-- val: 82.0 color: #00309f value: 7.5k-10k-->
        <tr><td [ngStyle]="{'background-color':'#521f8b',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('10k-12k')}}</td></tr>      <!-- val: 110.0 color: #521f8b value: 10k-12k-->
        <tr><td [ngStyle]="{'background-color':'#700080',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('12k-16k')}}</td></tr>      <!-- val: 140.0 color: #700080 value: 12k-16k-->
        <tr><td [ngStyle]="{'background-color':'#990049',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('16k-22k')}}</td></tr>      <!-- val: 190.0 color: #990049 value: 16k-22k-->
        <tr><td [ngStyle]="{'background-color':'#cc003d',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('22k-30k')}}</td></tr>      <!-- val: 260.0 color: #cc003d value: 22k-30k-->
        <tr><td [ngStyle]="{'background-color':'#ff0000',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('30k-50k')}}</td></tr>      <!-- val: 400.0 color: #ff0000 value: 30k-50k-->
        <tr><td [ngStyle]="{'background-color':'#ff6200',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('50k-100k')}}</td></tr>     <!-- val: 750.0 color: #ff6200 value: 50k-100k-->
        <tr><td [ngStyle]="{'background-color':'#ff9e00',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('100k-200k')}}</td></tr>    <!-- val: 1500.0 color: #ff9e00 value: 100k-200k-->
        <tr><td [ngStyle]="{'background-color':'#ffc300',   'opacity':imageLayerService.opacity}">{{getPopulationDensity('200k+')}}</td></tr>        <!-- val: 3000.0 color: #ffc300 value: 200k+-->
      </tbody>
      <tfoot class="legend-table-header">
        <tr>
          <td><a class='about-link' (click)="openAboutDialog()">About</a></td>
        </tr>
      </tfoot>
    </table>
  </mat-drawer>

  <div class="{{isLegendOpen?'legend-control-closed':'legend-control'}}">
    <button type="button" mat-button [disableRipple]="true" (click)="toggle()" style="width: 2em;">
      {{isLegendOpen?'X':'Legend'}}
    </button>
  </div>

</mat-drawer-container>
