/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

* {
  font-family: Raleway, sans-serif !important;
}

/* --- ABOUT DIALOG SETUP START! --- */
.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 30px;
  --mdc-dialog-container-color: rgb(67, 67, 110, 0.75);
  --mdc-dialog-supporting-text-color: rgba(255, 255, 255);
}

.about-button {
  background: rgba(255,255,255,0.25) !important;
  color: white !important;
  border-radius: 20px !important;
}

.scroll-indicator {
  position: absolute !important;
  bottom: 50px; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px; /* Adjust as needed */
  color: rgb(67, 67, 110, 0.75);
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -8px);
  }
  60% {
    transform: translate(-50%, -4px);
  }
}

.overlay-background {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
}

.dark-link:link { color: lightblue; }
.dark-link:visited { color: deepskyblue; }
.dark-link:hover { color: white; }
.dark-link:active { color: lightskyblue; text-decoration:none; font-weight:normal; }

.color-box-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-box {
  height: 1em;
  width: 1em;
  border-radius: 0.1em;
  margin: 0.2em;
}

@media screen and (max-width: 720px) {
  .mat-mdc-dialog-container {
    --mdc-dialog-supporting-text-size: 12px;
    --mdc-dialog-supporting-text-line-height: 18px;
  }
}
/* --- ABOUT DIALOG SETUP END! --- */
