/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

* {
  font-family: Raleway, sans-serif !important;
}

/* --- MAT DIALOG SETUP START! --- */
.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 30px;
  --mdc-dialog-container-color: rgb(67, 67, 110, 0.75);
  --mdc-dialog-supporting-text-color: rgba(255, 255, 255);
}

.overlay-background {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
}

.dark-link:link { color: lightblue; }
.dark-link:visited { color: deepskyblue; }
.dark-link:hover { color: white; }
.dark-link:active { color: lightskyblue; text-decoration:none; font-weight:normal; }

@media screen and (max-width: 720px) {
  .mat-mdc-dialog-container {
    --mdc-dialog-supporting-text-size: 12px;
    --mdc-dialog-supporting-text-line-height: 18px;
  }
}
/* --- MAT DIALOG SETUP END! --- */
